.sl-container {
  display: flex;
  align-content: flex-start;
}

.sl-content {
  flex: 50%;
  min-width: 530px;
}

.sl-image {
  height: 100vh;
  min-height: 720px;
}

@media only screen and (max-width: 1024px) {
  .sl-image {
    display: none;
  }
}

@media only screen and (max-width: 428px) {
  .sl-content {
    min-width: 400px;
  }
}
