/* Import AntD */
@import "~antd/dist/antd.css";
/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Cabin:wght@500&display=swap");
/* Import CSS files */
@import "pages/Landing/Landing.css";
@import "pages/Login/Login.css";
@import "pages/Signup/Signup.css";
@import "components/Footer/AppFooter.css";
@import "components/SplitLayout/SplitLayout.css";
/* Global CSS */
.ant-form-item-label label {
  font-size: 18px;
}

#basic_username {
  font-size: 16px;
}

#basic_password {
  font-size: 16px;
}

.ant-divider-inner-text {
  font-size: 16px;
  color: #c4c4c4;
}
