/* AntD */
@import "~antd/dist/antd.css";
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Cabin:wght@500&display=swap");
/* CSS files */
@import "styles/AppHeader.css";
@import "styles/AppFooter.css";
@import "styles/SplitLayout.css";
@import "styles/LeftMenu.css";
@import "styles/RightMenu.css";
@import "styles/SearchFilter.css";
@import "styles/RestaurantItem.css";
@import "styles/AuthPage.css";
@import "styles/LandingPage.css";
@import "styles/RestaurantListPage.css";
@import "styles/RestaurantCard.css";
/* Global */
.ant-form-item-label label,
#basic_username,
#basic_password {
  font-size: 16px;
}

.ant-divider-inner-text {
  font-size: 16px;
  color: #c4c4c4;
}

.ant-menu-horizontal {
  font-size: 16px;
  border: none;
}

.ant-menu-horizontal > .ant-menu-item {
  color: #000000d9 !important;
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  text-decoration: none;
  cursor: default;
}

.ant-tooltip-inner {
  font-size: 12px;
}

.ant-badge-dot {
  background: #30d915;
  top: 28px;
  left: 20px;
  width: 8px;
  height: 8px;
}

.ant-layout {
  min-height: 100vh;
  overflow: hidden;
}

.ant-layout-header {
  background-color: #fff;
  padding: 5px 35px 80px 10px;
}

.ant-layout-content {
  background: #fff;
}

.ant-layout-footer {
  padding: 15px 0;
  background: #f7f7f7;
}

.ant-tag-default {
  font-weight: 700;
  color: #6e7072;
  background: #f0f0f0;
  border: none;
  border-radius: 10px;
}

.ant-pagination {
  display: flex;
  text-align: left;
  margin: 0 0 30px 150px;
}

.ant-pagination-total-text {
  margin-right: 30px;
  overflow: hidden;
}

.gm-ui-hover-effect {
  display: none !important;
}
