.rev-vote-container {
  font-weight: 400;
  color: #606060;
  display: flex;
  align-items: center;
  min-width: 500px;
}

.rev-vote {
  margin-right: 10px;
}

.rev-vote-count {
  font-weight: 700;
}
