.det-container {
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -8px;
  margin-bottom: 20px;
}

.det-row {
  margin-left: 10%;
  min-width: 1000px;
}

.det-avatar {
  font-size: 36px !important;
  background-color: #25c8c1;
  margin-right: 16px;
  margin-top: 2px;
}

.det-name {
  font-family: "Arvo";
  font-size: 24px;
  margin-bottom: 6px;
  margin-left: 4px;
}

.det-stats {
  display: flex;
  align-items: center;
  font-size: 16px;
}

@media only screen and (max-width: 428px) {
  .det-row {
    margin-left: 5%;
    min-width: 350px;
  }

  .det-name {
    font-size: 20px;
  }
}
