.sf-item {
  max-height: 35px;
}

.sf-select {
  width: 200px;
  border: 1px solid #b8bbc2;
  border-radius: 8px;
  padding-left: 4px;
}

.sf-text {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 30px;
}

@media only screen and (max-width: 428px) {
  .sf-text {
    font-size: 16px;
  }
}
