.restrevitem-container {
  border-bottom: 1.5px solid #ebebeb;
  max-width: 900px;
  padding: 20px 0 20px 24px;
}

.restrevitem-container:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.restrevitem-avatar {
  font-size: 25px !important;
  background-color: #25c8c1;
  margin-top: 5px;
  margin-right: 16px;
}

.restrevitem-avatar:hover {
  cursor: pointer;
}

.restrevitem-name-container {
  display: flex;
  align-items: center;
  min-width: 500px;
}

.restrevitem-name {
  font-family: "Arvo";
  font-size: 20px;
  margin-right: 8px;
}

.restrevitem-count {
  font-weight: 400;
  color: #606060;
}

@media only screen and (max-width: 428px) {
  .restrevitem-name-container {
    min-width: 300px;
  }
}

@media only screen and (max-width: 375px) {
  .restrevitem-name-container {
    min-width: 200px;
  }
}
