.notfound-image {
  display: block;
  width: 350px;
  margin-top: 130px;
  margin-right: auto;
  margin-left: auto;
}

.notfound-text {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}

@media only screen and (max-width: 500px) {
  .notfound-image {
    width: 250px;
  }
}
