.lmenu-logo-container {
  margin-right: 30px;
}

.lmenu-input {
  min-width: 350px;
  border: 2px solid #c4c4c4;
  border-radius: 20px;
}

.lmenu-icon-search {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-left: 8px;
}

.lmenu-icon-menu {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.lmenu-logo-container:hover,
.lmenu-icon-menu:hover {
  cursor: pointer;
}

.lmenu-sf {
  position: absolute;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  min-width: 350px;
  padding: 5px 65px 30px 20px;
  left: 260px;
  top: 60px;
  z-index: 1;
}

.lmenu-sf .sf-text {
  width: 90px;
}

.lmenu-sf .sf-select {
  width: 160px;
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
  .lmenu-input {
    min-width: 300px;
    margin-left: -20px;
  }

  .lmenu-sf {
    margin-left: -20px;
  }
}

@media only screen and (max-width: 699px) {
  .lmenu-logo {
    width: 110px;
  }

  .lmenu-input {
    min-width: 160px;
    margin-left: -50px;
  }

  .lmenu-sf {
    margin-left: -200px;
  }
}

@media only screen and (max-width: 400px) {
  .lmenu-logo {
    width: 80px;
  }
}
