.restanalyt-header {
  font-family: "Arvo";
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.restanalyt-rating {
  display: flex;
  align-items: center;
}

.restanalyt-score {
  font-weight: 700;
  margin-left: 30px;
}

.restanalyt-city {
  margin-top: 8px;
}

.restanalyt-image {
  height: 200px;
  object-fit: cover;
  border-radius: 5px !important;
}
