.footer-col {
  text-align: center;
}

.footer-col a {
  font-size: 14px;
  color: #000000d9;
}

.footer-col a:hover {
  text-decoration: underline;
}

.ant-layout-footer {
  padding: 15px 0;
  background: #f7f7f7;
}
