.login-view {
    font-size: 16px;
}

.login-img {
    height: 100vh;
    /* 100% won't work */
    width: 41.7vw;
    /* computed by grid layout, 10/24 */
}

.lv_form {
    width: 60%;
    /* adjust it */
}

.lv_form-header {
    font-family: 'Arvo Bold';
    font-weight: bold;
    font-size: 50px;
    margin: 60px 0 30px 0;
    text-align: center;
}

.login-button {
    margin: 10px 0 0 0;
    background-color: #25C8C1;
    border-color: #25C8C1;
    border-radius: 10px;
    height: auto;
    font-size: 20px;
    font-family: 'Cabin';
}

.fb {
    margin: 20px 0 15px 0;
}

.prompt {
    margin: 20px 0 0 0;
    justify-content: center;
}