.restcard-header {
  font-family: "Arvo";
  margin-bottom: 5px;
}

.restcard-rating {
  display: flex;
  align-items: center;
}

.restcard-score {
  font-weight: 700;
  margin-left: 30px;
}

.restcard-city {
  font-weight: 400;
  margin-top: 5px;
}

.restcard-image {
  height: 200px;
  object-fit: cover;
  border-radius: 5px !important;
}
