.restlist-item {
  margin-left: 8%;
}

.restlist-map {
  height: 80vh;
  width: 100%;
  margin: 20px 0 0 40px;
}

.restlist-items {
  min-width: 850px;
}

@media only screen and (min-width: 1500px) {
  .restlist-items {
    min-width: 1050px;
  }
}
